@model FullStack_Task.Areas.Identity.Models.ViewModels.PasswordValidViewModel



<div class="row">
    <div class="col-md-9" style="margin: 0 auto;">
        <iframe name="forms_iframe" style="display: none;"></iframe>
        <form action="/identity/api/validation/v1/PasswordValid" class="registration-form" method="post" target="forms_iframe">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">

                <div class="col-md-6">

                    <div class="form-group my-form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("PASSWORD:", null, new { @class = "required my-label" })
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control myinput" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                    </div>

                    <div class="form-group my-form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("CONFIRM PASSWORD:", null, new { @class = "required my-label" })
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control myinput" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                    </div>

                    <div class="form-group my-form-group">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("CAPTCHA:", null, new { @class = "required my-label" })
                            </div>
                            <div class="col-md-9" style="text-align: left;">
                                <img id="img-captcha" src="~/api/Captcha" style="width: 100%;" />
                                <a href="#" id="refresh-captcha">Show another code</a>
                                <input type="text" class="form-control" placeholder="Captcha Code" asp-for="Password.CaptchaCode" maxlength="4" />
                                @Html.Label("PUT IN THE ANSWER TO THE MATH EQUATION", null, new { @class = "details" })
                                <span asp-validation-for="Password.CaptchaCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group my-form-group">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <div style="text-align: left;">
                                    <input type="checkbox" id="AcceptTerms" name="Password.AcceptTerms" value="AcceptTerms" />
                                    @Html.Label("I have read and accept the terms of use", null, new { @class = "" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="cloud-message">
                        <svg class="cloud-message-svg" width="333" height="200" xmlns="http://www.w3.org/2000/svg">
                            <path d="M 10 10 H 300 V 187 H 77 V 40 Z" fill="lightgray" />
                        </svg>
                        <div class="cloud-message-info">
                            <strong class="warning">Instructions:</strong>
                            <p>
                                Password must include: <br />
                                - at least 8 characters <br />
                                - an UPPER case letter <br />
                                - a lower case letter <br />
                                - a number <br />
                            </p>
                        </div>
                    </div>

                    <div class="form-group my-form-group" style="display: none;">
                        <input type="submit" value="Save" />
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>